if messages && messages.error
  div(class='alert alert-danger')
    strong= messages.error
    button(type='button' class='close' data-dismiss='alert' aria-label=__('general.close'))
      span(aria-hidden='true')
        i(class='fas fa-times')

if messages && messages.warning
  div(class='alert alert-warning')
    strong= messages.warning
    button(type='button' class='close' data-dismiss='alert' aria-label=__('general.close'))
      span(aria-hidden='true')
        i(class='fas fa-times')

if messages && messages.info
  div(class='alert alert-info')
    strong= messages.info
    button(type='button' class='close' data-dismiss='alert' aria-label=__('general.close'))
      span(aria-hidden='true')
        i(class='fas fa-times')

if messages && messages.success
  div(class='alert alert-success')
    strong= messages.success
    button(type='button' class='close' data-dismiss='alert' aria-label=__('general.close'))
      span(aria-hidden='true')
        i(class='fas fa-times')
